<div class="container">
	<div class="row">
		<div class="span6">
			<div class="item"><%= image_tag "SCSBanner1.png"%></div>
		</div>
		<div class="span6">
			<h2>SWISS CORPORATE SERVICES</h2>
			<p class="lead"> Founded by Tolis Cléopas, SCS is an independent company providing strategic and financial advisory services to Swiss and foreign enterprises. We specialize in the following areas:</p>
			<ul class="lead">
        <li>Strategic brand and market development</li>
        <li>Management support</li>
        <li>Acquisitions & cessions</li>
        <li>Capital restructuring</li>
      </ul>
      <p class="lead">SCS focuses on developing simple and efficient business solutions for its clients elaborated by a team of senior professionals in close coordination with their management.</p>
		</div>
	</div>
	<div class="row-fluid">
    	<ul class="thumbnails">
        	<li class="span3">
        	    <div class="thumbnail">
      				<%= image_tag "1SCS260.png"%>
      				<h4><%=link_to("DISCOVER SCS", about_en_path)%></h4>
     				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In a nulla nibh. Proin tortor erat, pretium vel malesuada blandit, posuere ac enim. Sed eu ante mi, sed consectetur odio. Morbi nisl dolor, dapibus quis congue quis, blandit vitae massa.</p>
    			</div>
            </li>
            <li class="span3">
                <div class="thumbnail">
      				<%= image_tag "2SCS260.png"%>
      				<h4><%=link_to("OUR SERVICES", services_en_path)%></h4>
     				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In a nulla nibh. Proin tortor erat, pretium vel malesuada blandit, posuere ac enim. Sed eu ante mi, sed consectetur odio. Morbi nisl dolor, dapibus quis congue quis, blandit vitae massa.</p>
    			</div>
            </li>
            <li class="span3">
                <div class="thumbnail">
      				<%= image_tag "3SCS260.png"%>
      				<h4><%=link_to("OUR TEAM", team_en_path)%></h4>
     				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In a nulla nibh. Proin tortor erat, pretium vel malesuada blandit, posuere ac enim. Sed eu ante mi, sed consectetur odio. Morbi nisl dolor, dapibus quis congue quis, blandit vitae massa.</p>
    			</div>
            </li>
            <li class="span3">
        		<div class="thumbnail">
      				<%= image_tag "4SCS260.png"%>
      				<h4><%=link_to("CONTACT US", contact_en_path)%></h4>
     				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In a nulla nibh. Proin tortor erat, pretium vel malesuada blandit, posuere ac enim. Sed eu ante mi, sed consectetur odio. Morbi nisl dolor, dapibus quis congue quis, blandit vitae massa.</p>
    			</div>
            </li> 
        </ul><!--end thumbnails-->
    </div><!--end second row-->
</div>
